<a href="https://colab.research.google.com/github/aniketmadhurkar/Books-library-app/blob/main/1stprogram.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list=["aniket","madhurkar",1,2,4,10]
print(list)
list[1]
list[1:4]

['aniket', 'madhurkar', 1, 2, 4, 10]

['madhurkar', 1, 2]

In [ ]:
l = ['geeks']
l.append('for')
l.append('geeks')
print(l)

['geeks', 'for', 'geeks']

In [ ]:
list=["aniket","madhurkar",1,2,3,4]
list.append("gurunath")
print(list)

['aniket', 'madhurkar', 1, 2, 3, 4, 'gurunath']

In [ ]:
list=["aniket","madhurkar",1,2,3,4]
list.extend("gurunath")
print(list)

['aniket', 'madhurkar', 1, 2, 3, 4, 'g', 'u', 'r', 'u', 'n', 'a', 't', 'h']

In [ ]:
list=["aniket","madhurkar",1,2,3,4]
list.insert("gurunath")
print(list)

TypeError: insert expected 2 arguments, got 1

In [ ]:
list=["aniket", "madhurkar"]
list.insert(1,"abc")
print(list)

['aniket', 'abc', 'madhurkar']

In [ ]:
list=["abc","xyz","klm",9,6,8,]
list[0:4:3]

['abc', 9]

In [ ]:
list=["dog", "Apple","mongo",1,2,4.5,8,9]
list.insert(1,"aniket")
print(list)

['dog', 'aniket', 'Apple', 'mongo', 1, 2, 4.5, 8, 9]

In [ ]:
a=10
b=20
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a//b)

30
-10
200
0.5
10
100000000000000000000
0

In [15]:
num1=eval(input("enter first number"))
num2=eval(input("enter a scond number"))
print("sum=",num1+num2)

enter first number10
enter a scond number20
sum= 30

In [16]:
num1=eval(input("enter first number"))
num2=eval(input("enter a scond number"))
print("sum=",num1+num2)

enter first number10.5
enter a scond number20.5
sum= 31.0

In [17]:
num1=eval(input("enter first number"))
num2=eval(input("enter a scond number"))
print("sum=",num1+num2)

enter first numbertrue

NameError: name 'true' is not defined

In [19]:
age=3
if(age>18):
  print("eligiable for vote")

In [20]:
age=33
if(age>18):
  print("eligiable for vote")
else:
  print("not eligiable for vote")

eligiable for vote

In [22]:
age=int(input("enter age :"))
if(age>18):
  print("eligiable for vote")
else:
  print("not eligiable for vote")

enter age :19
eligiable for vote

In [23]:
a=22
if a>6:
  print("we started to work on conditional Statement")

we started to work on conditional Statement

In [24]:
a=6
if a==6:
  print("Conditon true")

Conditon true

In [26]:
x=57
if x==57:
  print("the if condition is true")
else:
  print('else condition got executed')

the if condition is true

In [27]:
x=23
if x>0:
  print("i am  in if block")
else:
  print('i am in else block')

i am  in if block

In [29]:
if(5>14):
  print("5 is big")
  print("i am in if block")
print("i am out of the block")

i am out of the block

In [ ]:
x=0
if x>0:
  print("x is postive")
  print("i am inif ")